node_modules
npm-debug.log
backend/.env
backend/.venv
**/__pycache__
.git
.gitignore
.dockerignore
README.md
.next/cache
frontend/.env*
.env*

repomix-output.txt
frontend/repomix-output.txt
backend/repomix-output.txt
__pycache__/
*.pyc
*.pdf
