pypdf
langchain
chromadb # Vector storage
pytest
boto3
openai
langchain-community
langchain-openai
langchain-chroma
python-dotenv
llama-cloud-services 
llama-index-core 
llama-index-readers-file
torch 
transformers 
python-pptx 
Pillow