docx2pdf # convert all docx to pdf
Pillow # for document conversion
python-dotenv # for environment variables
langchain
langchain-community
langchain-openai
pypdf
openai
pinecone-client
fastapi
pydantic
uvicorn
python-multipart
motor
pytest
nltk
numpy
scikit-learn